<div class="container">
  <h1>Editing project</h1>
  <div class="row">
    <div class="col-md-3">
      <%= render 'subnav' %>
    </div>
    <div class="col-md-9">
      <%= render 'form' %>
    </div>
  </div>
</div>